.h1 {
  font-weight: 700;
  font-size: 144px;
  color: white;
}

.h2-font-size-48 {
  font-size: 24px;
}

.h3-font-size-36 {
  font-size: 36px;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.font-weight-700 {
  font-weight: 700;
}

.font-family-rubik {
  font-family: "Rubik", sans-serif;
}
