@import "../../styles/mixins.scss";

$h1: 144px;
$h2: 48px;
$h3: 36px;

.h1 {
  font-weight: 700;
  font-size: $h1;
  color: white;
  @include fontSize($h1);
}

.h2-font-size-48 {
  font-size: 48px;
  @include fontSize($h2);
}

.h3-font-size-36 {
  font-size: 36px;
  @include fontSize($h3);
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.font-weight-700 {
  font-weight: 700;
}

.font-family-rubik {
  font-family: "Rubik", sans-serif;
}
