.navLink {
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.activeClassName {
  transform: scale(1.1);
  color: var(--orange);
}
